################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/4kFilter/v15
*.config
/4kFilter/bin/Debug/client_secret.json
/4kFilter/client_secret.json
